body{
    background-color: lightgreen;
    text-align: center;
    font-family: Arial, sans-serif;
    margin-top: 200px;
}

h1{
    color: darkgreen;
    font-size: 50px;
}

p{
    font-size: 25px;
}

a{
    font-size: 35px;
    text-decoration: none;
}